<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="account.dao.AccountDAO">
	<resultMap type="accountVO" id="accountMap">
		<result column="account_no" property="accountNo" />
		<result column="product_name" property="productName" />
	</resultMap>
	
	<!-- 모임통장을 제외하고, 보유하는 모든 입출금 통장 조회 -->
	<select id="selectExceptGathering" resultMap="accountMap" parameterType="memberVO">
		select account_no, holder, balance, product_name
			from account
				where id = #{id} and 
					account_no not in 
						(select account_no 
							from gathering 
								where id = #{id})
	</select>

	<!-- 계좌번호로 입출금 통장 정보 알아오기 -->
	<select id="selectByAccountNo" resultMap="accountMap" parameterType="accountVO">
		select balance, holder
			from account
				where account_no = #{accountNo}
	</select>
	
	<!-- 통장 비밀번호 체크 -->
	<select id="selectMatchPassword" resultMap="accountMap" parameterType="accountVO">
		select account_no
			from account
				where account_no = #{accountNo} and password = #{password} 
	</select>
	
	<!-- 보유하는 모든 입출금 계좌 조회 -->
	<select id="selectAccountList" resultMap="accountMap" parameterType="memberVO">
		select account_no, holder, balance
			from account
				where id = #{id}
	</select>
	
	<!-- 출금 -->
	<update id="withdraw" parameterType="transactionVO">
		update account
			set balance = balance - #{ amount }
				where account_no = #{ accountNo }
	</update>
	
	<!-- 입금 -->
	<update id="deposit" parameterType="transactionVO">
		update account
			set balance = balance + #{ amount }
				where account_no = #{ accountNo }
	</update>
	
	<!-- 안심계좌번호로 통장 소유주 이름 가져오기 -->
	<select id="selectBySafeAccountNo" resultMap="accountMap" parameterType="gatheringVO">
		select holder
			from account
				where account_no = 
					(select account_no
						from gathering
							where safe_account_no = #{safeAccountNo})
	</select>
</mapper>