<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="authentication.dao.AuthenticationDAO">
	<resultMap type="authenticationVO" id="authenticationMap">
		<result column="safe_account_no" property="safeAccountNo" />
		<result column="authentication_num" property="authenticationNum" />
	</resultMap>
	
	<insert id="insert" parameterType="authenticationVO">
		insert into authentication
		values(#{safeAccountNo}, #{authenticationNum})
	</insert>

	<!-- 안심계좌번호와 인증번호가 존재하는지 확인 -->
	<select id="selectIfExist" resultMap="authenticationMap" parameterType="authenticationVO">
		select * from authentication
		where safe_account_no = #{safeAccountNo} and authentication_num = #{authenticationNum}
	</select>
</mapper>